.clearPaddingMargin {
  padding: 0px;
  margin: 0px;
}

header {
background: #000;
  height: 60px;
  border-bottom: 5px solid #f8931d;
}

.logo {
  width: 180px;
  position: absolute;
  margin-left: -90px;
  left: 50%;
  top: 20px;
  border-radius: 250px
}

main {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card-container {

  border-radius: 23px;
  margin: 2rem;
  background: rgba(219, 219, 219, 0.188);
}

.card {
  margin-bottom: 20px;
  border: none;
}

.card-img-top {
  padding: 0.7em;
}

.block1 {
  height: 15%;
  padding: 0.5em;
  text-align: justify;
  display: inline-block;
  overflow: auto !important;
  text-overflow: ellipsis;

}

.block2 {
height: auto;
  padding: 0.5em;
  text-align: justify;
  display: inline-block;
  overflow: auto !important;
  text-overflow: ellipsis;

}
.centerDiv {
  display: flex;
   justify-content: center;
}
.ti_card_enroll {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

main h2 {
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(219, 219, 219, 0.788);
  padding-left: 40px;
  line-height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}



footer {
 background: #000;
  height: 60px;
  padding-top: 10px;
  border-top: 5px solid #3a8ae9;
}